.Track{
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
    width: 100%;
    flex-wrap: wrap;
}

.Track h2{
    margin-right: auto;
    margin-left: 1rem;
}

.Track img{
    width: 150px;
    height: 150px;
    margin-right: 1rem;
}

.Track p{
    color: #666;
    font-weight:100;
    font-size: 0.8rem;
}

@media screen and (max-width: 768px){
    .Track p{
        width: 100%;
        margin: 1rem 0 1rem 0;
        font-size: 0.6rem;
    }
}