@import url("https://use.typekit.net/cia3thx.css");
.Root {
  font-family: "alkaline", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.title {
  font-size: 1.5em;
  text-align: center;
}

.title .highlight {
  color: #1db954;
} 

button.logout{
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: red;
  color: white;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid transparent;
  transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

button.logout:hover{
  background-color: white;
  color: red;
  border: 3px solid red;
}

button.logout > .logout-icon {
  margin-left: 0.5rem;
}

.container {
    display: flex;
    gap: 2rem;
    width: 90%;
}

.SearchResults, .Playlist {
    background-color: hsla(0, 0%, 0%, 0.8);
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
}

.SearchResults {
    flex-basis: 40rem;
    flex-grow: 2;
}

.Playlist {
    flex-grow: 1;
    flex-basis: 20rem;
}

input, .Track{
    font-family: "gigalypse", sans-serif;
}



