.Playlist form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

form input {
    font-size: 1.5rem;
    width: 100%;
    margin: 1rem 0.5rem 0 0;
    border: 0;
    background-color: inherit;
    color: #fff;
}

form input:focus {
    outline: none;
    border-bottom: 1px solid #1db954;
}

form button {
    font-size: 1rem;
    padding: 1rem;
    border: 0;
    background-color: #1db954;
    color: #fff;
    border-radius: 2rem;
    cursor: pointer;
    border: 3px solid hsla(0, 0%, 0%, 0.8);
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

form button:hover {
    background-color: #000;
    color: #1db954;
    border: 3px solid #1db954;
}

form hr {
    width: 100%;
}

@media screen and (max-width: 768px){
    form button {
        font-size: 0.8rem;
    }
}